vendor/
composer.lock
locomotive.log
app/storage/locomotive.sqlite
app/storage/working/*
!app/storage/working/.gitkeep
app/storage/logs/*
!app/storage/logs/.gitkeep
config.yml
.DS_Store
.AppleDouble
.idea/
